extends ../layout

block content
  #setup-wrapper
    #setup-content
      h3 Welcome to the Raspberry Pi WebIDE powered by the Adafruit Learning System
      if (typeof(session.message) != 'undefined')
        div.alert.alert-error
          p #{session.message}
      p Setting up your Raspberry Pi will only take a few minutes.  Let's get started.
      p One of the many useful features of the WebIDE is that all of your code will be
        | stored in the cloud over at bitbucket.org. So, before we can go any further, you
        | will want to create your free bitbucket account.  If you already have one, you can use
        | your existing account, or create one specifically for the Raspberry Pi WebIDE.
      p
        a.btn.btn-large.btn-info.bitbucket-signup(href="https://bitbucket.org/account/signup/", target="_blank") Click here to create your free bitbucket account
      p
        img(src="/images/setup/step1.jpg")
      p In your Account page, click on the Integrated Applications link in the left column:
      p
        img(src="/images/setup/step2.jpg")
      p Now, click on the '+ Add consumer' button:
      p
        img(src="/images/setup/step3.jpg")
      p For the name, type in Raspberry Pi WebIDE, then click the 'Add consumer' button:
      p
        img(src="/images/setup/step4.jpg")
      p What we are after is the Key, and the Secret text. Copy each of those and paste in the boxes below.
      p
        img(src="/images/setup/step5.jpg")
      p Copy the key and Secret codes into these text boxes, and then click submit:
      form(method="post", action="/setup", class="form-horizontal")
        div.control-group
          label(for="key", class="control-label") Key:
          div.controls
            input(type="text", name="key", value=consumer_key)
        div.control-group
          label(for="secret", class="control-label") Secret:
          div.controls
            input(type="text", name="secret", value=consumer_secret)
        p Add your Full Name and Email to attach to saved files at Bitbucket (git config)
        div.control-group
          label(for="name", class="control-label") Full Name:
          div.controls
            input(type="text", name="name", value=name)
        div.control-group
          label(for="email", class="control-label") Email:
          div.controls
            input(type="text", name="email", value=email) 
        p Validate your Raspberry Pi Hostname.  This is used for bitbucket redirects.
        div.control-group
          label(for="hostname", class="control-label") Hostname:
          div.controls
            input(type="text", name="hostname", value=hostname)
            script
              $('input[name="hostname"]').val(window.location.hostname);
        p
          input(type="submit", class="btn btn-primary btn-large", name="Submit")