extends ../layout

block content
  #setup-wrapper
    #setup-content
      h3 Optional settings for your PI.
      if (typeof(session.message) != 'undefined')
        div.alert.alert-error
          p #{session.message}
      p If you're sharing multiple Pi's on the same network, you can change the hostname
        | of your Pi here.  You can also configure the Wifi settings.  Both of these
        | features are optional, and may be skipped.
      p If you leave these fields blank, they will not overwrite your existing settings.
      p You can update these settings at any time in the future.
      p Change your Pi Hostname (optional)
      form(method="post", action="/config", class="form-horizontal")
        div.control-group
          label(for="hostname", class="control-label") Hostname:
          div.controls
            input(type="text", name="hostname", value=hostname, autocomplete="off")
        p Choose a different Port (optional, default is 80, manual server restart required)
        div.control-group
          label(for="port", class="control-label") Port:
          div.controls
            input(type="text", name="port", value=port, autocomplete="off")
        p Configure your WIFI settings (optional)
        div.control-group
          label(for="wifi_ssid", class="control-label") WiFi SSID:
          div.controls
            input(type="text", name="wifi_ssid", value=wifi_ssid, autocomplete="off")
        div.control-group
          label(for="wifi_password", class="control-label") WiFi Password:
          div.controls
            input(type="password", name="wifi_password", value=wifi_password, autocomplete="off")
        p
          input(type="submit", class="btn btn-primarybtn-large", name="Submit")
      p Note: It's not recommended to change these settings while accessing the Pi through an external
        | network, as the connection is not secure.
